**/.git
**/.gitignore

**/.env
**/.env.*

**/Dockerfile
**/compose.yaml
**/*.compose.*.yaml
**/.dockerignore

**/*.md

**/justfile

**/.vscode
**/.DS_Store

/frontend/.astro
/frontend/dist
/frontend/node_modules

/backend/target