@import "tailwindcss";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  overscroll-behavior-y: contain;
}

body,
.maplibregl-map {
  font-family: "IosevkAllyP", sans-serif;
}

button,
a[href],
input[type="submit"] {
  cursor: pointer;
}
